html, body {
  margin: 0;
  padding: 5px;
  width: 100%;
  height: 100%;
}

/*.contain {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  padding: 5px;
  border: 5px solid orange;
  margin: 5px;
}*/

.top {
  display: block;
  position: absolute;
  background-color: white;
  border: 10px solid red;
  height: 30%;
  width: 50%;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  padding: 0;
  margin-top: 0;
}

.title {
  font-family: 'Modak', cursive;
  color: green;
  font-size: 900%;
  margin: 0;
}

.bottom {
  flex: 3;
  display: flex;
  border: 5px solid green;
  flex-direction: row;
}

.grid-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  border: 5px solid purple;
  height: 100vh;
  width: 100vw;
}

.palette {
  display: block;
  position: absolute;
  border: 10px solid yellow;
  background-color: white;
  padding: 30px;
  margin-top: 20%;
  margin-left: 80%;
  width: 30px;
}

.colors {
  width: 20px;
  height: 20px;
  border: 5px solid black;
  float: left;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.purple {
  background-color: purple;
}
