html, body {
  margin: 0;
  padding: 5px;
  width: 100%;
  height: 100%;
}

/*.contain {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  padding: 5px;
  border: 5px solid orange;
  margin: 5px;
}*/

.top {
  display: block;
  position: absolute;
  background-color: white;
  border: 10px solid red;
  height: 30%;
  width: 40%;
  text-align: center;
  margin-left: 25%;
  margin-right: 20%;
  padding: 0;
  margin-top: 0;
  box-shadow: 10px 10px 5px darkgrey;
}

.title {
  font-family: 'Modak', cursive;
  font-size: 900%;
  margin: 0;
  background: -webkit-linear-gradient(lightgreen, #225A00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grid-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
}

.palette {
  display: block;
  position: absolute;
  border: 10px solid yellow;
  background-color: white;
  padding: 40px;
  margin-top: 20%;
  margin-left: 80%;
  margin-right: 80%;
  padding-top: 10px;
  width: 30px;
  box-shadow: 10px 10px 5px darkgrey;
}

.directions {
  font-family: 'Modak', cursive;
  font-size: 170%;
  margin-left: -27px;
  padding-right: 30px;
  color: #3484CB;
  text-shadow: 1px 1px lightgrey;
  /*background: -webkit-linear-gradient(lightblue, #0B5DD6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
}

.colors {
  width: 20px;
  height: 20px;
  border: 5px solid black;
  float: left;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.purple {
  background-color: purple;
}

.pink {
  background-color: pink;
}

.white {
  background-color: white;
}
